/*注册新员工*/
.employee-cont{
	border: solid 1px #aeaeae;
    border-radius: 5px;
    padding: 15px;
    margin-top: 30px;
    background-color: #fff;
}
.attendance-type span{
	margin-left: 20px;
	cursor: pointer;
}
.attendance-type span.active{
	display: inline-block;
	line-height: 30px;
	padding: 0 10px;
	background-color: #428bca;
	color: #fff;
	
}
.attendance-type i{
	margin-left: 20px;
}
.entranceGuard-item-btn{
	margin-top: 0;
	width: 80px;
}
.layui-input-inline.two{
	width: 360px;
}

.small-select{
	width: 150px;
}
.small-radio{
	width: 80px;
}

.small-radio label{
	float: left;
	width: 30px;
	margin-bottom: 0;
	line-height: 40px;
}
.float-none{
	float: left;
	width: auto;
}
.title-cont .record.removeEmployeeInfo{
	color: #f0433d;
	cursor: pointer;
	border: 1px solid #f0433d;
	padding: 5px 10px;
	border-radius: 5px;
	margin-bottom: 5px;
}
.title-cont .record.doorOpenList{
	color: #363636;
	cursor: pointer;
	border: 1px solid #363636;
	padding: 5px 10px;
	border-radius: 5px;
	margin-bottom: 5px;
}
.reg-cont{
	overflow: hidden;
}
.reg-img-item{
	float: left;
}
.reg-img-item + .reg-img-item{
	margin-left: 20px;
}
.employee-cont .img-cont{
	float: left;
}
.btn-cont{
	width: 190px;
    margin-left: 10px;
}
.main-btn{
	width: 145px;
	height: 30px;
	line-height: 30px;
	margin-left: 32px;
}
.default-btn{
	width: 63.33px;
	height: 30px;
	line-height: 30px;
	padding: 0; 
}
.default-btn.left{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.default-btn.right{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	color: #dd8585;
}
.default-btn.middle{
	color: #ffc107;
}
.layui-btn+.layui-btn{
	margin-left: 0;
}
.main .reg-img-cont{
	border: 1px solid #2a6496;
	border-radius: 5px;
}
.reg-img-cont{
	width: 210px;
	height: 290px;
	padding: 10px;
	box-sizing: border-box;
}
.reg-img-cont img{
	width: 100%;
	/*height: 100%;*/
}
.employee-img-upload .img{
	width: 190px;
	height: 270px;
	overflow: hidden;
}
.employee-img-upload .img img{
	width: 100%;
}
.employee-img-upload button{
	width: 190px;
}
.reg-img-item{
	font-size: 0;
}
.reg-img-item.invalid{
	position: relative;
}
.submit-cont{
	margin-top: 30px;
	text-align: center;
}
.submit-cont .layui-btn.cancel{
	background-color: #fff;
	border: 1px solid #f0433d;
	color: #f0433d;
}
.submit-cont .layui-btn{
	background-color: #1E9FFF;
	color: #fff;
	border: none;
}
.submit-cont .layui-btn + .layui-btn{
	margin-left: 30px;
}
.employeeTime-cont label{
	float: left;
	line-height: 40px;
	margin-bottom: 0;
	width: 50px;
}
.employeeTime-cont input{
	width: 250px;
}
.employee-img-upload{
	margin-left: 20px;
	margin-top: 10px;
}
.layui-table tbody tr .name-link{
	color: #428bca;
	text-decoration: underline;
}
.layui-table tbody tr:hover .name-link{
	
}
.layui-input-inline + .layui-input-inline{
	margin-left: 0;
	margin-right: 10px;
}